body{
    background-color: rgb(219, 186, 186);
    color:rgb(1, 5, 8);
}

strong{
    color: #111316
}


h1{  text-align: center;


    background-color: rgb(240, 238, 238);

}
p{ text-align: center;}
img 
{text-align: center;}
