.menu{
    background-color:rgb(194, 255, 192);
    width: 450w;
    }

  


            


              





body{
    background-color: rgb(196, 165, 165);
    color:rgb(1, 5, 8);
    font-family: Arial;
    text-align: center;
}

strong{
    color: #111316
}


h1{  text-align: center;


    background-color: rgb(240, 238, 238);

}
p{ text-align: center;}
img 
{text-align: center;}
